/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.root,
#root,
#docs-root {
  --primary-color: rgba(42, 167, 255, 1);
  --secondary-color: rgba(232, 241, 255, 0.47);
  --tertiary-color: rgba(231, 240, 255, 1);
  --quaternary-color:  rgba(16, 40, 81, 1);

  font-family: 'Poppins', sans-serif;
}
